<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set the title of the page using ViewData -->
    <title>@ViewData["Title"] - Bonkkers</title>
    <!-- Import necessary CSS files -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!-- Set meta tags for the page -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to various external fonts and libraries -->
    <link href="https://fonts.googleapis.com/css?family=Marck+Script|Raleway:300,400,600,700|Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body onload="applySavedMode()">
    <!-- Main wrapper for the content -->
    <div id="contentWrapper" class="content-hidden">
        <header>
            <!-- Navigation bar section -->
            <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-transparent border-bottom box-shadow mb-3">
                <div class="container">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <!-- Brand/logo section -->
                        <div class="order-lg-1">
                            <a class="navbar-brand fs-1" asp-area="" asp-page="/Index">Bonkkers</a>
                        </div>
                    </div>
                    <!-- Dark mode toggle section -->
                    <div id="dark" class="form-check form-switch fs-5 d-flex align-items-center">
                        <input class="form-check-input" type="checkbox" id="darkModeToggle" onclick="toggleDarkMode()">
                        <label class="form-check-label" for="darkModeToggle">
                            <span id="darkModeText" class="text-white "  ></span>
                            <span id="darkModeIcon" class="fas fa-sun" style=" margin-top:40%; margin-left:4px;"></span>
                        </label>
                    </div>

                    <div class="order-lg-3">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <!-- Cart section -->
                    <div class="shop-container text-black justify-content-center ">
                        <a class="nav-link"  onclick="toggleCartTooltip()">
                            <i class="bx bx-shopping-bag" id="cart-icon"  ></i>
                        </a>
                        <!-- Cart tooltip section -->
                        <div id="cart-tooltip" onmouseover="showCartTooltip()" onmouseout="hideCartTooltip()">
                            <h2>Shopping Cart</h2>
                            <div id="cart-items" data-show-trash-icons="true">
                                <!-- Cart items will be dynamically added here -->
                            </div>
                            <div class="total">
                                <span>Total:</span>
                                <span id="cart-total">$0.00</span>
                            </div>
                        </div>
                    </div>
                    <!-- Collapsible navigation links section -->
                    <div class="navbar-collapse collapse justify-content-center">
                        <ul class="navbar-nav fs-3">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Privacy">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/info">Info</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <!-- Main content section -->
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!-- Footer section -->
    <footer class="border-top footer text-muted">
        <div class="adjust-margin">
            <h2 class="text-white">Socials</h2>

            <!-- Links to social profiles -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="https://www.linkedin.com/in/teemu-kalmari-755469169/" role="button" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/temez26" role="button" target="_blank"><i class="fa fa-github"></i></a>
        </div>
        <div>
            <h1 id="adjust" class="main-name adjust">Gardening</h1>
            <p class="text-adjust">Tips for professionals and hobbyists</p>
        </div>
        <div class="">
            <p class="footer-font" style=" text-align:left; margin-left:2%; ">
                <!-- Footer text with copyright information -->
                &copy; Copyright Teemu Kalmari. All rights reserved.
            </p>
        </div>
    </footer>

    <!-- Include necessary JavaScript files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/cart.js" asp-append-version="true"></script>

    <!-- Render additional scripts -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
